<p id="notice"><%= notice %></p>

<p>
  <b>Latlng:</b>
  <%= @overview_point.latlng %>
</p>


<%= link_to 'Edit', edit_overview_point_path(@overview_point) %> |
<%= link_to 'Back', overview_points_path %>
