<div id="route_actions">
	<ul>
		<li><%= link_to 'Add new route', new_route_path %></li>
  	<li><%= link_to 'Show all routes within current map', routes_path, :id => "show_routes_within_map" %></li>
	</ul>
</div>