<div id="main">
	<div id="route_builder_map"></div>
</div>

<%= render :partial => "map_menu", :locals => {:view => "new"} %>

<div id="route_box">
		<div id="route_box_tabs">
			<ul>
				<li><a href="#info_tab"><span>Info</span></a></li>
				<li><a href="#waypoint_tab"><span>Waypoints</span></a></li>
			</ul>
			<div id="info_tab">
				<% unless notice.nil? %>
					<p id="notice"><%= notice %></p>
				<% end %>
				<%= render 'form' %>
			</div>
			<div id="waypoint_tab">
				<div id="distance_duration" data-seconds="0" data-meters="0"></div>
				<div id="route_waypoints">
					<ul id="sortable_waypoints">
					</ul>
				</div>				
			</div>
		</div>
</div>



