<div id="main">
	<div id="route_builder_map"></div>
</div>

<div id="route_box">
	<div id="route_title">Slab Less - Add Route</div>
	<div id="route_content">
		<% unless notice.nil? %>
			<p id="notice"><%= notice %></p>
		<% end %>
		<%= render 'form' %>
		<div id="route_waypoints">
				<ul>
				</ul>
		</div>				
	</div>
</div>



