// Place all the styles related to the routes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#route_box
{
  width:320px;
  position:absolute;
  bottom: 35px;
  left: 70px;
  background: #DDD;
	border-radius: 5px;
  box-shadow: 2px 2px 5px #333;
}
#route_title
{
  width: 320px;
	height: 32px;
	background: #3B5998;
	color: white;
	font-size: 14px;
	text-align: center;
	line-height: 32px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
#route_content
{
	width: 300px;
	padding: 10px 10px 10px 10px;
}
	#route_content li
	{
		line-height: 16px;
	}
#route_waypoints
{
	max-height:80%;
	overflow: auto;
	list-style-type: none; 
	margin: 0px 0px 0px 0px; 
	padding: 0; 
}
  #route_waypoints li 
	{ 
		padding: 0.4em; 
		padding-left: 2.5em; 
		font-size: 0.9em; 
		background-color: white;
		margin-bottom: 2px;
		height: 16px;
		border-width: 1px;
		border-color: grey;
		border-style: solid;
		white-space: nowrap;
		overflow-x: hidden;
		width: 276px;
	}
  #route_waypoints li span 
	{ 
		position: absolute; 
		margin-left: -2.3em;
		margin-top: -0.4em;
	}
#directions{
	position:absolute;
	width: 23%;
	right:1%;
	height: 690px;
	overflow:auto;
}
#menu{
	background-color: #FFFFFF;
	width:170px;
	height:120px;
	padding:0px;
	border:1px;
	cursor:pointer;
	border-left:1px solid #cccccc;
	border-top:1px solid #cccccc;
	border-right:1px solid #676767;
	border-bottom:1px solid #676767;
}
.menu_item{
	font-family: arial,helvetica,sans-serif;
	font-size: 12px;
	text-align:left;
	line-height: 30px;
	border-left:0px;
	border-top:0px;
	border-right:0px;
	padding-left:30px;
	background-repeat: no-repeat;
	background-position: 4px center;
}

.menu_item.waypoint{
	background-image: url(mc-no-border.png);
}
.menu_item.zoomIn{
	background-image: url(zoomin.png);
}
.menu_item.zoomOut{
	background-image: url(zoomout.png);
}
.menu_item.centerHere{
	background-image: url(here.png);
}
.menu_item.delete{
	background-image: url(delete.png);
}
.menu_item.build{
	background-image: url(edit.png);
}
.menu_item.import{
	background-image: url(import.png);
}
.menu_item.hover{
	background-color: #d6e9f8;
}
.menu_item.separator{
	border-bottom:1px solid #cccccc;
}
.sortable_icon
{
	background-image: url(draggable.jpg);
	background-repeat: no-repeat;
	width: 22px;
	height: 22px;
}
#distance_duration {
	margin-top: 8px;
}
#route_name {
	font-size: 15px;
	font-weight: bold;
	margin-top: 6px;
}
#visibility_recommended_label {
	display: block;
	margin-top: -1.9em;
	margin-left: 1.75em;
}
#info_pane { 
	position: absolute; 
	padding: 10px; 
	width: 350px; 
	border: 3px solid #FFF; 
	background: #DDD url(http://icons.wxug.com/i/wxmap/background.gif) repeat-x top left; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	-webkit-box-shadow: 2px 2px 5px #888; 
	z-index: 5000; 
}
#info_pane #info_pane_close { 
	background: url(http://icons.wxug.com/i/wxmap/close.png) right no-repeat; 
	display: block; 
	color: #000; 
	font-size: 14px; 
	font-weight: bold; 
	width: 24px; 
	height: 24px; 
	line-height: 24px; 
	position: absolute; 
	top: -15px; 
	right: -15px; 
	float: right; 
	text-decoration: none; 
}
#info_pane #info_pane_content { 
	max-height: 400px; 
	overflow-y: auto; 
	overflow-x: hidden; 
	clear: both; 
}
#action_box { font-size: 11px; border: 1px solid #000; margin-bottom: 10px; position: absolute; top: 7px; left: 100px; width: 336px; line-height: 16px; overflow: hidden; white-space: nowrap; background: #FFF; }
#action_box .panel_link { text-decoration: none; display: block; width: 80px; padding: 1px; text-align: center; float: left; border-top: 1px solid #FFF; border-right: 1px solid #BEBEBE; border-bottom: 1px solid #BEBEBE; border-left: 1px solid #FFF; }
#action_box .active {
	color: #000;
}
#action_box .inactive {
	color: gray;
}
#filter_panel {
	left: 100px;
}
#add_panel {
	left: 184px;
}
#export_panel {
	left: 264px;
}
.panel {
	padding: 7px 5px 5px 5px;
	background-color: white;
	position: absolute;
	top: 31px;
	border: 1px solid #BEBEBE;
}
#route_crud_actions {
	text-align: right;
}



