// Place all the styles related to the routes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#route_box
{
  width:320px;
  position:absolute;
  bottom: 35px;
  left: 35px;
  background: #DDD;
	border-radius: 5px;
  box-shadow: 2px 2px 5px #333;
}
#route_title
{
  width: 320px;
	height: 32px;
	background: #3B5998;
	color: white;
	font-size: 14px;
	text-align: center;
	line-height: 32px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
#route_content
{
	width: 300px;
	padding: 0 10px 10px 10px;
}
	#route_content li
	{
		line-height: 16px;
	}
#route_actions
{
	display: block;
	width: 100%;
	text-align: center;
	font-size: 12px;
	margin: 6px 0px 10px 0px;
}
#route_waypoints
{
	max-height:80%;
	overflow: auto;
}
#directions{
	position:absolute;
	width: 23%;
	right:1%;
	height: 690px;
	overflow:auto;
}
#menu{
	background-color: #FFFFFF;
	width:170px;
	height:150px;
	padding:0px;
	border:1px;
	cursor:pointer;
	border-left:1px solid #cccccc;
	border-top:1px solid #cccccc;
	border-right:1px solid #676767;
	border-bottom:1px solid #676767;
}
#menu .item{
	font-family: arial,helvetica,sans-serif;
	font-size: 12px;
	text-align:left;
	line-height: 30px;
	border-left:0px;
	border-top:0px;
	border-right:0px;
	padding-left:30px;
	background-repeat: no-repeat;
	background-position: 4px center;
}
#menu .item.itemA{
	background-image: url(images/icon_greenA.png);
}
#menu .item.itemB{
	background-image: url(images/icon_greenB.png);
}
#menu .item.zoomIn{
	background-image: url(images/zoomin.png);
}
#menu .item.zoomOut{
	background-image: url(images/zoomout.png);
}
#menu .item.centerHere{
	background-image: url(images/here.png);
}
#menu .item.hover{
	background-color: #d6e9f8;
}
#menu .item.separator{
	border-bottom:1px solid #cccccc;
}