body
{
	font-family: arial, verdana;
	font-size: 10px;
	background-color: #FFFFF3;
  color: #333;
}
ul
{
	list-style-type: none;
}
ol
{
	margin: 0px;
	padding: 0px 0px 0px 20px;
}
.hidden
{
	display: none;
}
a 
{
	font-size: 12px;
}
.form_field
{
	margin-bottom: 10px;
}