<!DOCTYPE html>
<html>
<head>
  <title>Slabless</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
</head>
<body>

<%= yield %>

</body>
</html>
