<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <title>Slabless - Routes Layout</title>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
</head>
<body>
	<div id="page">
			<div id="header">
			</div>
			<div id="middle">
				<%= yield %>
			</div>
			<div id="footer"> <!-- start of the footer -->      
        <p id="copyright">Copyright &copy; 2011 Guzzista Software, LLC, all rights reserved.</p>
        <p id="privacy_and_terms">
          <a href="terms.html">Terms of Service</a> |
          <a href="privacy.html">Privacy Policy</a>
        </p>
      </div> <!-- end of the footer -->
	</div>

</body>
</html>